@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  color: rgb(201, 201, 201);
  background-color: #24262b;
}
main{
  margin-top: var(--height-menu);
}

section {
  margin: 10vh 2vw;
  padding-top: 50px;
}
h1 {
  font-family: "Poppins";
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 3vh;
}

/* ######### NAVBAR ######### */


:root {
  --height-menu: 7.89vh;
  --bcg-color-navbar: transparent;
  --font-color-navbar: rgb(0, 255, 0);
  --bcg-color-sub-menu: rgba(255, 255, 255, 0.9);
  --font-color-sub-menu: rgba(255, 0, 0, 0.9);
  --border-bottom-color: rgba(0, 0, 0, 0.8);

}


* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

nav {
  width: 100%;
  font-size: 18px;
  position: fixed;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  height: var(--height-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: var(--bcg-color-navbar);
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a {
  color: var(--font-color-navbar);
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: var(--font-color-navbar);
}

.dropdown-1 > a:after {
  content: "â¯";
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.dropdown-1:hover > a:after {
  animation: rotatearrow 0.2s linear forwards;
}

@keyframes rotatearrow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.sub-menu {
  margin-top: var(--height-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  color: var(--font-color-sub-menu);
  border-radius: 8px;
  background-color: var(--bcg-color-sub-menu);
  position:relative;
  z-index: 999;
  backdrop-filter: blur(15px);
}

.dropdown-1:hover > .sub-menu {
  animation: submenuappear 1s forwards;
}

@keyframes submenuappear {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
    border-top: 3px solid var(--border-bottom-color);
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid var(--border-bottom-color);
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.sub-menu > li:hover {
  background-color: var(--bcg-color-sub-menu-hover);
  position: relative;
  z-index: 999;
}

.sub-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;

}

.sub-menu > li:hover > a {
  color: var(--bcg-color-sub-menu);
  background-color: var(--font-color-sub-menu);
}

/* #############End NAVBAR ###########*/

/* ##### MAIN ###### */

.pres-country {
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.container-left {
  width: 33%;
}

.container-left h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}

/* ##### Carousel ###### */

.container-right {
  position: relative;
  perspective: 1000px;
  margin-left: 29.2vw;
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform: translate(-50%, -50%);

}

#carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: rotateY(-360deg) translateZ(+300px);
  animation: animate 60s steps(100000, end) infinite;
}
#carousel:hover {
  animation-play-state: paused;
}
#carousel div {
  display: block;
  height: 13.1vh;
  width: 6.5vw;
  position: absolute;
  border: 0px solid #000;
}
#carousel div img {
  width:  9.76vw;
  height: 13.1vh;
  border-radius: 5%;
  object-fit: cover;
  cursor: pointer;
  position: absolute;
  z-index: -1;
}
#carousel div:nth-child(1) {
  transform: rotateY(0deg) translateZ(32.9vh);
}
#carousel div:nth-child(2) {
  transform: rotateY(60deg) translateZ(32.9vh);
}
#carousel div:nth-child(3) {
  transform: rotateY(120deg) translateZ(32.9vh);
}
#carousel div:nth-child(4) {
  transform: rotateY(180deg) translateZ(32.9vh);
}
#carousel div:nth-child(5) {
  transform: rotateY(240deg) translateZ(32.9vh);
}
#carousel div:nth-child(6) {
  transform: rotateY(300deg) translateZ(32.9vh);
}
@-webkit-keyframes animate {
  from {
    transform-origin: 30% 25%;
    transform: rotateY(0deg);
  }
  to {
    transform-origin: 30% 25%;
    transform: rotateY(-360deg);
  }
}
@keyframes animate {
  from {
    transform-origin: 30% 25%;
    transform: rotateY(0deg);
  }
  to {
    transform-origin: 30% 25%;
    transform: rotateY(-360deg);
  }
}

/* ##### Carousel END ##### */

/* ##### Cities ##### */

.italie-container {
  max-width: 800px;
  margin: 0 auto;
  }
  
  .italie-countries {
   padding: 4rem 0;
   
  }
  
  .italie-header {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
  }
  
  .italie-countries-slider {
   margin: 30px 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;   
   align-items: center;
  }
  
  .italie-countries-slider a {
  cursor: pointer;
  transition: 0.15s;
  }
  
  .italie-countries-slider a:hover {
  font-size: 18px;
  }
  
  .italie-country {
  margin: 20px 0;
  display: grid;
  grid-template: repeat(1, 250px)/repeat(3, 1fr);
  gap: 10px;
  justify-content: space-around;
  transition: all 1s;
  }
  
  .italie-country img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
  }
  
  .italie-active {
  font-size: 18px;
  border: solid 1px;
  padding: 5px;
  border-radius: 15px;
  }

/* ##### END Cities ##### */

/* ##### AMBASSADE ##### */

.italie-ambassade-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  font-size: 2.5rem;
  border-radius: 15px;
  flex-direction: row;
}

.italie-ambassade-box-left {
  flex-direction: column;
  box-sizing: border-box;
  width: 20vw;
}

.italie-ambassade-sommaire {
  box-sizing: border-box;
  width: 100%;
  align-items: flex-start;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

.italie-ambassade {
  width: 20vw;
  height: 30vh;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 5px;
}

.italie-ambassade-box-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 35vw;
}
.info{
  font-size: 2vh;
}
.italie-ambassade-maps {
  width: 23vw;
  height: 35vh;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 15px;
}

.italie-ambassade-contact {
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  margin: 10px 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

.italie-ambassade-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 20px;
}

.italie-ambassade-adresse {
  font-size: 15px;
  box-sizing: border-box;
}

.italie-ambassade-numero {
  font-size: 15px;
  box-sizing: border-box;
  margin-right: 20px;
  text-align: start;
}

.italie-ambassade-site {
  font-size: 15px;
  box-sizing: border-box;
}

.icon {
  margin-right: 10px;
}

/* ##### END AMBASSADE ##### */
  

/* ############ FOOD SECTION ###########*/

.italie-food {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: url(assets/food_table.jpg);
  background-size: 100%;
  margin: 100px 0;
}

.italie-food img {  
  height: 250px;
  width: auto;
  margin: 0 50px;
  position: relative;
}

/* ############ END FOOD SECTION ###########*/

/* ############ END MAIN ###########*/

/* ############ FOOTER ###########*/

footer {
  border-top: 3px solid #000;
  border-top-right-radius: 25%;
}
.logo img {
  width: 250px;
  margin-top: 20px;
  padding-right: 20px;
}
.container {
  max-width: 1500px;
  margin: auto;
  position: relative;
  z-index: 100;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
  
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--font-color-navbar);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
  scale: 1.15;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* ########### END Footer ########### */