@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Poppins";
  color: rgb(201, 201, 201);
  background-image: url(assets/TERRE.jpg);
  background-size: cover;
}

section {
  margin: 3vh 2vw;
  padding-top: 50px;
}
h1 {
  font-family: "Poppins";
  font-size: 4vh;
  font-weight: bold;
  margin-bottom: 3vh;
}

/* ######### NAVBAR ######### */


:root {
  --height-menu: 60px;
  --bcg-color-navbar: transparent;
  --font-color-navbar: white;
  --bcg-color-sub-menu: rgba(255, 255, 255, 0.7);
  --font-color-sub-menu: rgba(33, 112, 214, 0.8);
  --border-bottom-color: rgba(33, 112, 214, 0.8);

}

* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  height: var(--height-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: var(--bcg-color-navbar);
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a {
  color: #2169ec;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: var(--font-color-navbar);
}

.dropdown-1 > a:after {
  content: "â¯";
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.dropdown-1:hover > a:after {
  animation: rotatearrow 0.2s linear forwards;
}

@keyframes rotatearrow {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.sub-menu {
  margin-top: var(--height-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  color: var(--font-color-sub-menu);
  border-radius: 8px;
  background-color: var(--bcg-color-sub-menu);
}

.dropdown-1:hover > .sub-menu {
  animation: submenuappear 1s forwards;
}

@keyframes submenuappear {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
    border-top: 3px solid #2169ec;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169ec;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.sub-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
 
}

.sub-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}

.sub-menu > li:hover > a {
  color: var(--font-color-sub-menu);
}

/* #############End NAVBAR ###########*/

/* ##### MAIN ###### */

.pres-country {
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
  flex-wrap: wrap;
}


.container-left {
  width: 33%;
}

/* ##### Carousel ###### */



.container-right {
  position: relative;
  perspective: 1000px;
  margin-left: -150px;
  margin-top: 50px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: rotateY(-360deg) translateZ(+300px);
  animation: animate 25s steps(10000, end) infinite;
}
#carousel:hover {
  animation-play-state: paused;
}
#carousel div {
  display: block;
  height: 100px;
  width: 100px;
  position: absolute;
  border: 0px solid #000;
}
#carousel div img {
  width: 150px;
  height: 100px;
  border-radius: 5%;
  object-fit: cover;
  cursor: pointer;
}
#carousel div:nth-child(1) {
  transform: rotateY(0deg) translateZ(250px);
}
#carousel div:nth-child(2) {
  transform: rotateY(60deg) translateZ(250px);
}
#carousel div:nth-child(3) {
  transform: rotateY(120deg) translateZ(250px);
}
#carousel div:nth-child(4) {
  transform: rotateY(180deg) translateZ(250px);
}
#carousel div:nth-child(5) {
  transform: rotateY(240deg) translateZ(250px);
}
#carousel div:nth-child(6) {
  transform: rotateY(300deg) translateZ(250px);
}
@keyframes animate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/* ##### Carousel END ##### */

 /* ############# */
 
 
 
 /* ############# */

/*  */
/*  */
/*  */

/* ############ FOOD SECTION ###########*/

.blank-food {
  padding: 5% 15%;    
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 800px;
  background: url(assets/food_table.jpg);
  background-size: 100%;
}

.blank-food img {  
  height: 250px;
  width: auto;
  margin: 0 50px;
  position: relative;
}

/* ############ END FOOD SECTION ###########*/


/* ############ FOOTER ###########*/

footer {
  margin-top: 100px;
}
.logo img {
  width: 250px;
  margin-top: 20px;
  padding-right: 20px;
}
.container {
  max-width: 1500px;
  margin: auto;
  position: relative;
  z-index: 100;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #731ee9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
  scale: 1.15;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
/* ########### END Footer ########### */
