body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #000000;
}

.blank-container {
max-width: 800px;
margin: 0 auto;
}

.blank-countries {
 padding: 2rem 0;
}

.blank-header {
font-size: 18px;
text-align: center;
font-weight: bold;
}

.blank-countries-slider {
 margin: 20px 0;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 font-size: 16px;
 font-weight: bold;
}

.blank-countries-slider a {
cursor: pointer;
}

.blank-countries-slider a:hover {
font-size: 18px;
border-bottom: solid 2px #000;
}

.blank-country {
margin: 20px 0;
display: grid;
grid-template: repeat(1, 250px)/repeat(3, 1fr);
gap: 10px;
justify-content: space-around;
}

.blank-country img {
height: 100%;
width: 100%;
object-fit: cover;
}

.blank-active {
font-size: 18px;
border-bottom: solid 2px #000;
}
